In [1]:
import pandas as pd 
dataFile = '/Users/Andres/Documents/GitHub/Velasco-Yepez-Andres-David-Python/06_KNN/data/BX-Book-Ratings.csv'

In [4]:
data = pd.read_csv(dataFile,sep=";",header=0,names=["user","isbn","rating"],encoding="ISO-8859-1")

In [8]:
data.head()

     user        isbn  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

     user        isbn  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

In [11]:
datos_csv = '/Users/Andres/Documents/GitHub/Velasco-Yepez-Andres-David-Python/06_KNN/data/BX-Books.csv'
books = pd.read_csv(
    datos_csv,sep=";",
    header=0,
    error_bad_lines=False,
    usecols=[0,1,2],
    index_col=0,
    names=["isbn","title","author"],
    encoding="ISO-8859-1")
9

In [12]:
books.head()

,title,author
isbn,,
0195153448,Classical Mythology,Mark P. O. Morford
0002005018,Clara Callan,Richard Bruce Wright
0060973129,Decision in Normandy,Carlo D'Este
0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
0393045218,The Mummies of Urumchi,E. J. W. Barber

In [15]:
def book_titulo_autor(isbn):
    titulo = books.at[isbn,"title"]
    autor = books.at[isbn,"author"]
    return titulo, autor

In [16]:
book_titulo_autor("0393045218")

('The Mummies of Urumchi', 'E. J. W. Barber')

In [20]:
def n_libros_favoritos_por_usuario(usuario,N): 
    ratings_usuario = data[data["user"]==usuario]
    sorted_ratings = pd.DataFrame.sort_values(
        ratings_usuario,
        ['rating'],
        ascending =[0] 
    )[:N]
    sorted_ratings["title"] = sorted_ratings["isbn"].apply(book_titulo_autor)
    return sorted_ratings

In [21]:
data = data[data["isbn"].isin(books.index)] # Eliminando inconcistencias

In [23]:
n_libros_favoritos_por_usuario(276729,5) # Libros favoritos del usuario

,user,isbn,rating,title
4,276729,0521795028,6,(The Amsterdam Connection : Level 4 (Cambridge...
3,276729,052165615X,3,"(Help!: Level 1, Philip Prowse)"

In [26]:
ratings_usuarios_por_libro = data.isbn.value_counts()
ratings_usuarios_por_libro.head(10)

0971880107    2502
0316666343    1295
0385504209     883
0060928336     732
0312195516     723
044023722X     647
0142001740     615
067976402X     614
0671027360     586
0446672211     585
Name: isbn, dtype: int64

In [27]:
ratings_por_usuario = data.user.value_counts()
ratings_por_usuario.head(10)

11676     11144
198711     6456
153662     5814
98391      5779
35859      5646
212898     4290
278418     3996
76352      3329
110973     2971
235105     2943
Name: user, dtype: int64

In [28]:
data = data[data["isbn"].isin(ratings_usuarios_por_libro[ratings_usuarios_por_libro>10].index)]

In [31]:
data = data[data["user"].isin(ratings_por_usuario[ratings_por_usuario>10].index)]

In [34]:
matriz_rating_por_usuario = pd.pivot_table(data,values='rating',index=["user"],columns=["isbn"])

In [35]:
matriz_rating_por_usuario

Empty DataFrame
Columns: []
Index: []